
.item{
    width: 200px;
}

.item p {
    margin: 6px 0;
}

.item-price {
    display: flex;
    color: navy;
    font-size: 18px;
    font-weight: 600;
}
.item img {
    width: 100px;
    height: 100px;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}
